node_modules
.turbo
.next
dist
.DS_Store
coverage
.pnpm-store
.env
.env.*
!.env.example
!.env.development.example
!.env.production.example
**/.env
**/.env.*
!**/.env.example
!**/.env.development.example
!**/.env.production.example
*.tsbuildinfo
**/*.tsbuildinfo
