DATABASE_URL="postgresql://USER:PASSWORD@DEV-HOST-pooler.neon.tech/tech_focus_dev?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@DEV-HOST.neon.tech/tech_focus_dev?sslmode=require&channel_binding=require"
GITHUB_TOKEN=""
