DATABASE_URL="postgresql://USER:PASSWORD@PROD-HOST-pooler.neon.tech/tech_focus?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@PROD-HOST.neon.tech/tech_focus?sslmode=require&channel_binding=require"
GITHUB_TOKEN=""
QIITA_TOKEN=""
